@import "tailwindcss";
@theme {
    /* Cores */
    --color-primary: #024D60;
    --color-green: #47A138;
    --color-gray: #dee9ea;
    --color-gray-light: #f8f8f8;
    --color-gray-medium: #767676;
    --color-gray-dark: #8b8b8b;
    --color-error: #bf1313;
    --color-blue: #2567f9;
    --color-purple: #8f3cff;
    --color-orange: #f1823d;
    --color-magenta: #ff3c82;
    --color-green-from: #0a5063;
    --color-green-to: #dbe6e8;

    /* Tipografia */
    --font-sans: 'Inter', sans-serif;
}
